<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title><%= title %></title>

		<link rel="stylesheet" href="dist/reset.css">
		<link rel="stylesheet" href="dist/reveal.css">
		<link rel="stylesheet" href="dist/theme/black.css">

		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="plugin/highlight/monokai.css">
		
		<!-- extra layouts for presentations -->
		<link rel="stylesheet" href="/static/css/layouts.css">
	</head>
	<body>
		<div class="reveal">
            <%- deck %>
		</div>

		<script src="dist/reveal.js"></script>
		<script src="plugin/notes/notes.js"></script>
		<script src="plugin/markdown/markdown.js"></script>
		<script src="plugin/highlight/highlight.js"></script>
		<script src="plugin/math/math.js"></script>
		<script>
			// More info about initialization & config:
			// - https://revealjs.com/initialization/
			// - https://revealjs.com/config/
			Reveal.initialize({
				hash: true,
				slideNumber: 'c',
				controls: false,
				keyboard: {
					32: null, // space
					37: 'prev', // left
					38: null, // up
					39: 'next', // right
					40: null // down
				},

				width: 1280,
				height: 900,
				margin: 0.1,
				center: false,
				transition: 'none',
				backgroundTransition: 'none',

				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealMarkdown, RevealHighlight, RevealNotes, RevealMath.KaTeX ]
			});
			
		</script>
        <script src="/socket.io/socket.io.min.js"></script>
        <script src="/static/js/socket-client.js"></script>
	</body>
</html>
