section.standard > header {
    height: 15%;
    width: 100%;
    font-size: 2em;
    text-align: left;
}

section.standard > div {
    width: 100%;
    font-size: 1em;
    text-align: left;
}

section.standard > div.columns {
    display: flex;
}
section.standard > div.columns > * {
    font-size: 1em;
    flex: 1;
}

section.standard > div.columns > .emphasize {
    flex: 1.5;
}